header {
  display: flex;
  width: auto;
  margin: auto;
}

nav {
background-image: url("images/IMG-mountain.JPG");
 flex: 1;
   max-width: 100%;
   background-size: cover;
   padding: 0;
   margin: 0;
   line-height: 1%;
}

body {
font-family: 'Times New Roman', Times, serif
  }

img {
  height: 290px;
 display: block;
  margin-left: auto;
  margin-right: auto;
width: 250px;

}

h1{
text-align: center;
color: white;
 
}

main{
  background-color: #d2d4c8;
  background-size: cover;
  max-width: 100%
  margin-bottom: 0; 
  padding-top:10px;
}

.background{
  width: 100%;
  height: 100%;
}

h4{
 background-image: url("images/IMG-mountain.JPG");
 height: 100%; 
 text-align: center;
}

h2{
  text-align: center;
}

p{
text-align: center;
font-style: italic;
}
footer{
  height: 50px;
}

.cover{
  border-radius: 50%;
}